[Unit]
Description=NATS Server for NectarCollector
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nats-server -c /etc/nectarcollector/nats-server.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
User=nats
Group=nats
LimitNOFILE=65536

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/nectarcollector/nats
PrivateTmp=true

[Install]
WantedBy=multi-user.target
